:root{
  --bg:#0f1724;
  --card:#0b1220;
  --accent1: linear-gradient(135deg,#6ee7b7 0%, #3b82f6 100%);
  --glass: rgba(255,255,255,0.04);
  --muted:#9aa4b2;
  --text:#e6eef8;
}

*{margin:0;padding:0;box-sizing:border-box;}

body{
  background:var(--bg);
  font-family:"Inter";
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  padding:20px;
}

.form-box{
  background:var(--glass);
  padding:34px 40px;
  border-radius:20px;
  width:420px;
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.05);
  box-shadow:0 6px 30px rgba(0,0,0,0.45);
}

h2{
  margin-bottom:20px;
  text-align:center;
}

.group{
  margin-bottom:16px;
}

label{
  display:block;
  font-size:13px;
  color:var(--muted);
  margin-bottom:6px;
}

input,select{
  width:100%;
  padding:12px;
  border-radius:12px;
  border:1px solid rgba(255,255,255,0.06);
  background:rgba(255,255,255,0.03);
  color:var(--text);
  transition:.25s;
}

input:focus,select:focus{
  border-color:#3b82f6;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:12px;
  background:var(--accent1);
  color:#0b1220;
  font-weight:700;
  cursor:pointer;
  transition:.25s;
}

button:hover{
  transform:translateY(-3px);
}
