body{
    color: black;
    background: #247BA0;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: black;
    text-decoration: none;
}
header img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
}

.center{
    text-align: center;
    color: black;
}


img{
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
    color: black;
}
footer p:hover{
    color: white;
}

.container{
    padding: 0pc 50px;
}

nav a:hover{
    color: black;
}
header h1{
    color: black;
}
.proj{
    display: flex;
    text-align:center;
    justify-content: flex-start;
    gap: 10px;
}